@if(_showConfirm)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">@ConfirmTitle</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="() => OnConfirmChange(false)"></button>
                </div>
                <div class="modal-body">
                    @ConfirmMessage
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="() => OnConfirmChange(false)">Abbrechen</button>
                    <button type="button" class="btn btn-primary" @onclick="() => OnConfirmChange(true)">Löschen</button>
                </div>
            </div>
        </div>
    </div>
}
