@page "/authors/overview"

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div>
    <button class="btn btn-primary" @onclick="NavigateToAuthorNew">Neuer Autor</button>
</div>


<div class="row">
    <div class="col">
        <AuthorTable AuthorViewModels="AuthorsVm" OnAuthorDelete="DeleteAuthor"></AuthorTable>
    </div>
</div>