@page "/authors/overview"

@rendermode @(new InteractiveServerRenderMode(prerender: false))




@if (!string.IsNullOrWhiteSpace(_errorMessage))
{
    <div class="alert alert-danger">@_errorMessage</div>
}