@page "/authors/overview"

@rendermode @(new InteractiveServerRenderMode(prerender: false))


<div class="row">
    <div class="col">
        <AuthorTable AuthorViewModels="AuthorsVm" OnAuthorDelete="DeleteAuthor"></AuthorTable>
    </div>
</div>