@page "/homewasm"
@using Application.Utilities

@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<QuoteOfTheDay Title="Spruch Des Tages" QotdVm="QotdViewModel">
    <LogOfQotd>
        <div class="alert alert-dark">@QotdViewModel?.LogAsJson()</div>
        <SystemInfo />
    </LogOfQotd>
</QuoteOfTheDay>
