@page "/"
@page "/index"
@page "/home"


@rendermode InteractiveServer
@* @rendermode @(new InteractiveServerRenderMode(prerender: false)) *@

<PageTitle>Home</PageTitle>

<QuoteOfTheDay Title="Spruch Des Tages" QotdVm="QotdViewModel">
    <LogOfQotd>
        <div class="alert alert-dark">@QotdViewModel?.LogAsJson()</div>
        <SystemInfo />
    </LogOfQotd>
</QuoteOfTheDay>

